/* line 1, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
body {
  font-family: Helvetica, sans-serif; }

/* line 5, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
.header-container {
  margin: auto;
  max-width: 1000px;
  width: 100%; }

/* Header */
/* line 13, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
header img {
  height: auto;
  width: 100%; }

/* line 19, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
.float-right {
  float: right; }

/* line 23, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
.current {
  background-color: #e7e7e7; }

/* Nav */
/* line 29, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
nav#main ul {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0; }

/* line 35, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
nav#main li {
  list-style: none;
  display: inline-block;
  padding: 1%; }

/* line 40, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
nav#main li:hover {
  text-decoration: underline; }

/* line 43, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
nav#main a {
  font-size: 12px;
  text-decoration: none;
  color: #777;
  text-transform: uppercase;
  line-height: 30px; }

/* line 52, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
li span#logud {
  font-size: 12px;
  text-decoration: none;
  color: #777;
  text-transform: uppercase;
  line-height: 30px; }

/* line 60, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
li span#logud:hover {
  text-decoration: none !important;
  cursor: default; }

/* line 65, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
.main-container {
  margin: auto;
  max-width: 1000px;
  width: 100%;
  margin-top: 30px; }

/* Main index */
/* line 74, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#index img {
  width: 100%; }

/* line 78, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#index aside a {
  text-decoration: none; }
  /* line 80, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  main#index aside a i {
    color: black; }
  /* line 83, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  main#index aside a i:hover {
    color: blue; }

/* line 88, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#index p {
  font-size: 12px; }

/* line 92, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#index article h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 200; }

/* line 97, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#index article img {
  width: 100%; }

/* line 100, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#index article p.author {
  text-transform: uppercase; }

/* line 103, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#index article span.author-C {
  color: #777; }

/* line 107, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#index .formGroup {
  padding: 10px 0; }
  /* line 109, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  main#index .formGroup span {
    font-size: 20px; }
  /* line 112, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  main#index .formGroup input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  /* line 120, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  main#index .formGroup textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }

/* line 130, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#index .btn-indsaet input.button-primary {
  background-color: white;
  padding: 5px 0;
  margin: 5px 0;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 20px;
  width: 150px; }

/* line 139, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#index .btn-indsaet input.button-primary:hover {
  text-decoration: underline; }

/* Login site */
/* line 147, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#loginsite label {
  font-weight: bold;
  margin: 10px 0; }

/* line 151, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#loginsite input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

/* line 159, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#loginsite input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

/* line 167, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#loginsite button {
  background-color: white;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid grey;
  font-size: 20px;
  width: 150px; }

/* line 175, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#loginsite button:hover {
  text-decoration: underline; }

/* Planter */
/* line 181, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
main#planter {
  /* SLider */
  /* Slider stop */ }
  /* line 182, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  main#planter img {
    width: 100%; }
  /* line 186, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  main#planter aside a {
    text-decoration: none; }
    /* line 188, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
    main#planter aside a i {
      color: black; }
    /* line 191, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
    main#planter aside a i:hover {
      color: blue; }
  /* line 196, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  main#planter p {
    font-size: 12px;
    text-align: justify; }
  /* line 200, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  main#planter h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200; }
  /* line 205, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  main#planter h2,
  main#planter h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200;
    text-align: center; }
  /* line 213, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  main#planter .fadein {
    position: relative; }
  /* line 216, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  main#planter .fadein img {
    display: block;
    width: 100%;
    height: auto; }
  /* line 221, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  main#planter .fadein img:not(:first-child) {
    position: absolute;
    left: 0;
    top: 0; }

/* Footer */
/* line 230, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
.footer-container {
  margin: auto;
  max-width: 1000px;
  width: 100%; }

/* line 237, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
footer#index p {
  text-transform: uppercase; }

@media screen and (max-width: 991px) {
  /* line 243, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  li {
    width: 100%;
    padding: 1% 0 !important; }
  /* line 248, ../../xampp/htdocs/v3_eksame/V3-eksame/css/style.scss */
  .float-right {
    float: none; } }

/*# sourceMappingURL=style.css.map */